<!doctype html>

<html lang="en">

<head>
  <%- include('partials/head') %>

</head>

<body >

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <i class="material-icons" style="font-size:30px">event</i>        
            <span class="align-top">Schedulizer</span>
        </a>
        <span class="navbar-text">
            USER ACCOUNT: 
                <%= userInfo[0].firstName %>
                <%= userInfo[0].lastName %>
          </span>
      </nav>

  <div class="container">
    <div class="row">
    </div>
    <div class="row">
        <div class="card col-sm-12">
            <h6 class="card-header"> Current Schedule</h6>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Schedule Name</th>
                            <th>Manager Name</th>
                            <th>Start Time</th>
                            <th>Stop Time</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            <%        schInfo.forEach(function(ele, i){       %>
                            <tr>
                            <td> <%=     ele.name       %> </td>
                            <td> <%=     ele.lastname       %>, 
                                 <%=     ele.firstname       %> </td>
                            <td> <%=     ele.startTime       %> </td>
                            <td> <%=     ele.stopTime       %> </td>
                            <td> <%=     ele.date       %> </td>
                            </tr>
                                <%    });                  %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-6">
            <h6 class="card-header"> Current Availability</h6>
            <div class="card-body">
                <table class= "table">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Availability Start</th>
                            <th>Availability End</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            <tr> <td>Sunday</td><td><%=userInfo[0].sunStart%></td><td><%=userInfo[0].sunStop%></td></tr>
                            <tr> <td>Monday</td><td><%=userInfo[0].monStart%></td><td><%=userInfo[0].monStop%></td></tr>
                            <tr> <td>Tuesday</td><td><%=userInfo[0].tuesStart%></td><td><%=userInfo[0].tuesStop%></td></tr>
                            <tr> <td>Wednesday</td><td><%=userInfo[0].wedStart%></td><td><%=userInfo[0].wedStop%></td></tr>
                            <tr> <td>Thursday</td><td><%=userInfo[0].thurStart%></td><td><%=userInfo[0].thurStop%></td></tr>
                            <tr> <td>Friday</td><td><%=userInfo[0].friStart%></td><td><%=userInfo[0].friStop%></td></tr>
                            <tr> <td>Saturday</td><td><%=userInfo[0].satStart%></td><td><%=userInfo[0].satStop%></td></tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="card col-md-6">
            <h6 class="card-header"> Update Availability</h6>
            <div class="card-body">
                <!-- REQEUST UPDATE Availability -->
                <form action="/updateAva" method="POST">
                  <table class= "table">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Availability Start</th>
                            <th>Availability End</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            <tr> <td>Sunday</td><td><input type="time" name="sunStart" value="<%=userInfo[0].sunStart%>" required></td><td><input type="time" name="sunStop" value="<%=userInfo[0].sunStop%>" required></td></tr>
                            <tr> <td>Monday</td><td><input type="time" name="monStart" value="<%=userInfo[0].monStart%>"  required></td><td><input type="time" name="monStop" value="<%=userInfo[0].monStop%>" required></td></tr>
                            <tr> <td>Tuesday</td><td><input type="time" name="tuesStart" value="<%=userInfo[0].tuesStart%>" required></td><td><input type="time" name="tuesStop" value="<%=userInfo[0].tuesStop%>" required></td></tr>
                            <tr> <td>Wednesday</td><td><input type="time" name="wedStart" value="<%=userInfo[0].wedStart%>" required></td><td><input type="time" name="wedStop" value="<%=userInfo[0].wedStop%>" required></td></tr>
                            <tr> <td>Thursday</td><td><input type="time" name="thurStart" value="<%=userInfo[0].thurStart%>" required></td><td><input type="time" name="thurStop" value="<%=userInfo[0].thurStop%>" required></td></tr>
                            <tr> <td>Friday</td><td><input type="time" name="friStart" value="<%=userInfo[0].friStart%>" required></td><td><input type="time" name="friStop" value="<%=userInfo[0].friStop%>" required></td></tr>
                            <tr> <td>Saturday</td><td><input type="time" name="satStart" value="<%=userInfo[0].satStart%>" required></td><td><input type="time" name="satStop" value="<%=userInfo[0].satStop%>" required></td></tr>

                    </tbody>
                  </table>
                  <input type="hidden" name="userId"  value="<%=userInfo[0].employeeID%>"> 
                  <input type="submit" class="btn btn-primary" value="Update Availability">
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card col-md-6">
            <h6 class="card-header"> Current Time-Off Requests</h6>
            <div class="card-body">
                <table class= "table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Approval Status</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                                                
                        <%        requestInfo.forEach(function(ele, i){       %>
                            <tr>
                            <td> <%=     ele.date       %> </td>
                                 <%   if( ele.approvalStatus === 0 ){      %>
                                    <td class="text-danger"> Unapproved</td>
                                    <%   }else{     %>
                                    <td class="text-success"> Approved</td> 
                                    <%   }     %>
                            <td> <%=     ele.comment       %> </td>
                            </tr>
                            <%    });                  %>


                    </tbody>
                </table>
            </div>
        </div>
        <div class="card col-md-6">
            <!-- REQUEST FORM  -->
            <h6 class="card-header"> Add A New Timeoff Request</h6>
            <div class="card-body">
                <form action="/addTimeOff" method="POST">
                    <label for="newdate">Date To Request Off</label>
                    <input type="date"  id="newdate" name="date" required>
                    <label for="newPass">Request Comment</label>
                    <div>
                    <textarea  name="comment" required ></textarea>
                    </div>
                    <input type="hidden" name="userId"  value="<%=userInfo[0].employeeID%>"> 
                    <input type="submit" class="btn btn-primary" value="Submit Request">
                </form>
            </div>
        </div>
    </div>


    <%- include('partials/footscripts') %>
  </div>
</body>
</html>